<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TrendingMovies.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8BDE37302CAA9C04000C4034</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BDE37402CAA9C05000C4034</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BDE374A2CAA9C05000C4034</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
